*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
}
.wrapper {
    display: flex;
    justify-content: flex-end ;
    align-items: center;
    height: 10vh;
    width: 80%;
    
}

label.toggle { 
    position: relative; 
    display: inline-block; 
    width: 60px; 
    height: 24px; 
} 

input[type="checkbox"] { 
    width: 0; 
    height: 0; 
    opacity: 0; 
} 

.ball { 
    position: absolute; 
    cursor: pointer; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-color: 
    #4731D3; 
    transition: .3s; 
    border-radius: 25px; 
} 

.ball:before { 
    position: absolute; 
    content: ''; 
    height: 16px; 
    width: 16px; 
    left: 0px; 
    bottom: 4px; 
    background-color: #FFE86E; 
    transition: .3s; 
    border-radius: 25px; 
} 

input:checked + .ball { 
    background-color: 
    
#4731D3; 
} 

input:checked + .ball:before { 
    transform: translateX(44px); 
}
.section{
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
}
.language{
    margin-top: 20px;
    margin-left: 80px;
}

header{
    margin-top: 0px;
    height: 2vh;
    line-height: 10vh;
}
header .container {
    padding-top: 0px;
    margin-top: 0px;
    margin-right: 80px;
}
header ul li{
 margin-left: 40px;
 margin-right: 30px;
}

header ul li a {
    transition: 0.5s;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
}
header ul li a:hover {
    color: #ff014f;
}
.hireme{
/* Default/white */

background: #FFFFFF;
/* Default/indigo/800 */

border: 1px solid #3730A3;
border-radius: 6px;

    margin-left: 50px;
    margin-right: 50px;
}
.hireme li  {
    width: 67px;
    height: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #3730A3;
    margin-left: 30px;
}


.navlink{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 28px;
color: #6B7280;

    
}
 .left-top h3 {
    margin-left: -5px;
 }