.twice {
    display: flex;
  

}
.all {
    margin-left: 125px;
    justify-content: space-around;
}
.all h3 {
    margin-left: 0px;
}
h3{

 font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 48px;
/* or 100% */



color: #1F2937;

}
h4 {

    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 28px;
color: #4338CA;
margin-top: 50px;
margin-bottom: 40px;
}
.title {
    font-family: 'Inter';
font-style: normal;


}
.title p {
    
    width:300px;
    height: 48px;
    color:#6B7280;
    font-weight: 400;
font-size: 12px;
line-height: 16px;
margin-right: 70px;
}
.çizgi {
    width: 1040px;
    height: 0px;
    border: 1px solid #BAB2E7;
    margin-top: 15px;
    margin-bottom: 30px;
}
.profile-top{
    flex-direction: column;
    
}
.profile-top h4 {
    
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 28px;
color: #4338CA;

}
.profile-alt{
    display: flex;
}
.profile-alt ul {
    margin-right: 90px;
}
.profile-alt ul li{
    margin-bottom: 20px;
    
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 200%;

letter-spacing: 0.01em;

color: #000000;
}
.tercih{
    margin-top: 42px;
}
.bilgi ul li {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 200%;
/* or 36px */

letter-spacing: 0.01em;

color: #000000;
}
.rol{
    margin-top: -15px;
}
.hakkımda h4 {
    
    margin-top: -70px;
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 28px;


color: #4338CA;
}
.hakkımda p{
    width:480px;
    height: 200px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;


color: #6B7280;
}