.mode {
    padding-top: 1.5rem;
    gap: 1rem;
    max-width: 90%;
    width: 80%;
    align-items: center;
   
}
.modeText {
    display: flex;
    justify-content: flex-end;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.1em;
    color: #777777;
  }
  

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 24px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    
  }
  
  .toggle-switch-checkbox {
    display: none;
  }
 